.top{
    margin-bottom: 20px;
}

.main-article{
    padding: 0 20px;
    margin-bottom: 40px;
}

.blog-heading{
    margin: 10px 0;
}

.blog0-img{
    background-image: url('../images/head-bg.png');
}

.sub-heading{
    font-weight: 700;
}

.recent{
    text-align: center;
}

.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #4545dd;
    background-image: url('../images/amob.jpeg');
    background-position: center;
    background-size: cover;
}

.about-heading{
    line-height: 35px;
    margin: 20px 0;
}

.profile-sect{
    margin: 0 20px;
}

@media (min-width: 655px) {
    
    .main-article{
        padding: 0 100px;
    }

    .blog0-img{
        height: 500px;
        margin: 20px 0;
        background-position: bottom;
    }

    .profile-sect{
        display: grid;
        margin: 0 50px 40px;
        gap: 30px;
        grid-template-columns: 1fr 7fr;
        align-items: center;
    }
}