header{
    background-image: url("../images/head-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 290px;
}

.top-intro{
    padding: 60px 20px 0;
    color: #fff;
    text-shadow: 0 0 10px #000;
}

.intro-head-text{
    line-height: 35px;
}

.link{
    display: block;
    border: none;
    margin: 30px auto 40px;
    background: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
}